body{

    background-image: url(./pic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;

}
li{
    color: white;

}
h1{
    font-family: "Nosifer", sans-serif;
    font-size: xx-large;

  }
  #t1{
    color: rgb(219, 150, 22);
  }
  #t2{
    color: rgb(219, 150, 22);
  }
img{
    height: 250px;
    width: 250px;
    border-radius: 50px;
    border: 5px solid (90deg,black,white);
    margin-left: 75px;
    margin-top: 170px;
}  
h1{
    color:red;
    padding: 20px;
}
h2{
    font-family: "Nosifer", sans-serif;
}
ul{
    font-family: "Iceberg", sans-serif;
    font-size: large;
    
}
h3{
    color: rgb(0, 153, 255);
}
h2{
    color: white;
}
#a{
    color: white;
    font-family: "Nosifer", sans-serif;
}
#b{
    color: white;
    font-family: "Nosifer", sans-serif;
}
#c{
    color: white;
    font-family: "Nosifer", sans-serif;
}
#d{
    color: white;
    font-family: "Nosifer", sans-serif;
}
#e{
    color: white;
    font-family: "Nosifer", sans-serif;

}
#f{
    color: white;
    font-family: "Nosifer", sans-serif;
}
#g{
    color: white;
    font-family: "Nosifer", sans-serif;
}
#h{
    color: white;
    font-family: "Nosifer", sans-serif;
}